.imgText {
    margin-top: 5em;
    position: relative;
}

.imgText img {

    width: 100%;
    height: 470px;
}

.fraseSobre {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Poppins';
    font-size: 2em;
    width: 50%;
}

.fraseSobre strong {
    color: var(--vermelho);
}