.container h1 {
    text-align: left;
    margin-left: 4.5em;
    font-family: var(--fonte);
    font-size: 32px;
}

.container h1 strong {
    color: var(--vermelho);
}

.imgtxt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}