.container {
    position: relative;
}

.imagem {
    width: 100%;
}

.fraseSobre {
    position: absolute;
    top: 70%;
    left: 38%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: var(--branco);
}

.fraseSobre h1 {
    position: relative;
    max-width: 60%;
    font-size: 2em;
    font-family: var(--fonte);
    text-shadow: 2px 2px 4px black;
}

.fraseSobre strong {
    color: var(--vermelho)
}